.idea
.DS_Store
.env
.netlify
.redwood
dev.db*
dist
dist-babel
node_modules
yarn-error.log
web/public/mockServiceWorker.js

SampleUsers.txt
Notes.txt

.vscode*

web/types/graphql.d.ts
api/types/graphql.d.ts
